
h1 {
  text-align: center;
}

/*#real-time,
#trip-plan {
	margin-top: 20px;
}

*/
.selection-panel {
  padding: 10px;
}

.panel-primary>.panel-heading {
  color: #fff;
  background-color: #04abc2;
}

.panel-primary {
  border-color: black;
}

.panel,
.panel-heading {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
  border-color: black;
  margin: 5px;
}

.form-control:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0 1px 1px rgba(253, 221, 251, 0.9);
 
}

.btn {
  margin: 5px;
  background-color: #04abc2;
  color: white;
  border: 1px solid black;
  font-size: 14px;
  line-height: 1.6;
  border-radius: 0;
  padding: 5px;
}

.btn:hover {
  background-color: gray;

}

/*#enter-time .hovertxt {

  visibility: hidden;
  width: 150px;
  background-color: #f1eef3;
  color: white;
  text-align: center;
  border-radius: 0;
  padding: 5px 0;

  position: absolute;
  left: 21%;
  top: 70px;
  
}*/


#enter-time:hover .hovertxt {
  visibility: visible;
}



.etd-train, .trip-option {
  background-color: black;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  padding: 8px;
  border:1px solid white;
  color: white;
}

.trip-option > div:nth-child(n+2) {
   margin-top: 10px;
}

.service-alert {
  border: none;
  position: relative;
  background-color: rgba(210, 238, 248, 0.2);
  color: black;
  font-size: 16px;
  padding: 10px;

}

.color-box {
  height: 40px;
  width: 18px;
  float: left;
  margin-right: 5px;
  border-radius: 8px;
}


/*CLEAR THAT FLOAT IF YOU ADD ANYTHING ELSE HERE*/