
h1 {
  font-family: 'Slackey', cursive;
  text-align: center;
}

.panel-primary>.panel-heading {
  color: #fff;
  background-color: #17c9ba;

}

.panel-title {
  font-family: 'Questrial', sans-serif;
  font-size: 25px;
}

.panel-primary {
  border-color: black;

}

.panel-body {
  background: black;
}

#time-selection {
  margin-top: 10px;
}

.panel,
.panel-heading {
  border-radius: 0;
}

.trip-container {
  padding: 0;
}

#origin-list,
#destination-list {

  margin-top: 8px;
}

.form-control:focus {
  border-color: #86f0db;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(86,209,185 0.5);
}

.btn,
.btn-primary {
  margin-top: 10px;
  background-color: #17c9ba;
  color: white;
  border: 1px solid black;
  font-size: 14px;
  line-height: 1.6;
  border-radius: 0;
  padding: 5px;
}

.btn:hover {
  background-color: gray;
  
}


.btn:focus {
  border-color: #86f0db;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(86,209,185 0.5);
  background-color: black !important;
  color: #04abc2 !important;
}


.etd-train, .trip-option {
  background-color: black;
  font-size: 14px;
  padding: 5px;
  border-top:1px solid white;
  color: white;
}

.trip-option > div:nth-child(n+2) {
   margin-top: 10px;
}

.service-alert {
  border: none;
  position: relative;
  background-color: rgba(210, 238, 248, 0.5);
  color: black;
  font-size: 16px;
  padding: 15px;

}

.color-box {
  height: 40px;
  width: 15px;
  float: left;
  margin-right: 5px;
  border-radius: 8px;
}


/*CLEAR THAT FLOAT IF YOU ADD ANYTHING ELSE HERE*/