body {
  background-image: url("images/hexellence.png");
  background-color: #ebf3f7;
}

.page-title {
  font-family: 'Boogaloo', cursive;
  font-size: 50px;
  font-weight: bolder;
  color: #0083d2 !important;
  
}

.navbar {
  border-radius: 0;
/*  background-image: url("images/bart-train.png");
  background-size: 300px auto;
  background-repeat: no-repeat;
  background-position: 70% 30%;*/

}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #0083d2;
}

li {
  list-style: none;
}

.panel-primary>.panel-heading {
  color: #fff;
  background-color: #0083d2;

}

.panel-title {
  /*font-family: 'Questrial', sans-serif;*/
  font-family: 'Reem Kufi', sans-serif;
  font-weight: bolder;
  font-size: 25px;
}

.panel,
.panel-primary {
  border-color: black;

}

.panel {
  background: black;

}

#time-selection {
  border-radius: 4px;
}

.dropdown-menu {
  background: black;
  border: 1px solid white;
}

.panel,
.panel-heading {
  border-radius: 0;
}

.trip-plan-panel {
  margin-bottom: 0;
}

.trip-container {
  padding: 0;
}


#via-list,
#origin-list,
#destination-list {
  margin-top: 8px;
  width: 98%;
}


.via-toggle {
  font-size: 12px;
  margin: 1px;
}

.via-toggle:hover {
  color: white;
}

.glyphicon-sort:before {
    margin-left: -6px;
}

span.glyphicon-sort {

  float:right;
  font-size: 20px;
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  
}




.form-control:focus {
 
  border-color: #86f0db;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(86,209,185 0.5);

}

#time-clear,
.timepicker {
  clear: both;
  background-color: #0083d2;
  border-radius: 50%;
  border: none;
  margin-right: 2px;
  margin-top: 1px;
  padding: 5px 8px 4px;
}

#toggle-btn:focus,
.timepicker:hover,
.timepicker:focus {
  border-color: #60d3ff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(86,209,185 0.5);
}

.remove-via,
.upstream-button,
#getStnInfo,
#addTrainBtn {
  margin-top: 10px;
  background-color: #0083d2;
  color: white;
  border: 1px solid black;
  font-size: 14px;
  line-height: 1.6;
  padding: 5px, 10px;
}

#reverse-selection {
  /*margin-top: 20px;*/
}

.btn:hover {
  background-color: gray;
  
}

.btn:focus {
  border-color: #60d3ff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(86,209,185 0.5);
  background-color: white !important;
  color: #0083d2 !important;
}

.etd-train, .trip-option {
  background-color: black;
  font-size: 14px;
  padding: 5px;
  border-top:1px solid white;
  color: white;
}

.trip-option > div:nth-child(n+2) {
   margin-top: 10px;
}

#service-advisories {
  border: none;
  position: relative;
  background-color: rgba(210, 238, 248, 0.9);
  color: black;
  font-size: 16px;
  padding: 15px;
  margin-bottom: 10px;

}

.color-box {
  height: 18px;
  width: 18px;
  float: left;
  margin-right: 5px;
  border-radius: 50%;
}
 
p {
  clear:both;
  font-style: italic;
}


/*MEDIA TAGS*/

@media only screen and (max-width : 480px) {

  #via-list,
  #origin-list,
  #destination-list {
    width: 93%;
  }

}