
#real-time,
#trip-plan {
	margin-top: 20px;
}

.etd-train,
.trip-option {
	border:1px solid black;
}

p {
  font-family: 'Muli', sans-serif;
}

.promo {
  background: #f84545;
  color: white;
  z-index: 3;
  padding: 3px;
  position: relative;
}
.promo > p {
  margin: 0;
  color: white;
}
.promo > p > a {
  color: white;
  text-decoration: underline;
}
.promo > p > a:hover {
  text-decoration: none;
}

.masthead .masthead-title {
    font-size: 80px;
  }

.masthead .masthead-title small {
    font-size: 30px;
  }

.masthead img: hover {
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}

.masthead {
  background: #4286f4;
  padding: 25px 0;
  position: relative;
  clear: right;
}

.masthead img {
  bottom: 20px;
  left: 5px;
  float: right;
}

.masthead .masthead-title {
  font-family: 'Lobster', cursive;
  font-size: 80px;
  line-height: 1.2;
  color: white;
}
.masthead .masthead-title small {
  color: white;
  font-family: 'Muli', sans-serif;
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  padding-left: 4px;
}

.selection-panel {
  padding: 40px;
}

.panel-heading .panel-title {
  font-family: 'Lobster', cursive;
  font-size: 35px;
  color: white;
}

.btn {
  margin: 15px 0;
  background-color: white;
  color: blue;
  border: 1px solid blue;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 4px;
  padding: 7px 15px 6px 15px;
}

.etd-train, .trip-option {
  background-color: #e8eaea;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
}

.trip-option > div:nth-child(n+2) {
   margin-top: 10px;
}

#service-alert {
  border: none;
  position: relative;
  background-color: rgba(248, 69, 69, 0.2);
  color: #cc0000;
  font-size: 16px;
  padding: 20px;
  
}

.alert-panel {
  padding: 20px;
}

